* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
  transition: all 0.3s ease;
}

.auth-container {
  position: relative;
  min-height: 100vh;
  background: #f3f3f3;
  overflow: hidden;
  
}
.edge-design1{
  background-color: #23B6FA96;
  height: 200px;
  width: 200px;
  margin-top: -20px;
  border-radius: 50%;
  transform: translateX(-50%);
}

.edge-design2{
  background-color: #4D96F470;
  height: 200px;
  width: 200px;
  margin-top: -300px;
  border-radius: 50%;
  transform: translateX(-15%);
}

.auth-curve {
  position: absolute;
  width: 1800px;
  height: 1900px;
  background: #23B6FA96;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: 0;
}

.auth-card {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}
@media (max-width: 480px) {
  .auth-card {
    max-width: 340px;
  }

  input {
    padding: 14px;
  }

  button {
    padding: 14px;
  }
}


@media (min-width: 750px) {
  .auth-card {
    max-width: 400px;
  }

  input {
    padding: 14px;
  }

  button {
    padding: 14px;
  }
}

@media (min-width: 1024px) {
  .auth-card {
    max-width: 420px;
  }

  input {
    padding: 15px;
  }

  button {
    padding: 15px;
  }
}




.logo {
  width: 100px;
  margin: 20px auto;
  mix-blend-mode: color-burn;
  
}

input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  outline: none;
}
.login-button{
  width: 100%;
  padding: 15px;
  margin-top: 100px;
  border-radius: 20px;
  border: none;
  background: #4a7cf0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border-radius: 25px;
  border: none;
  background: #4a7cf0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #3b6ae0;
}

.auth-text {
  margin-top: 15px;
  font-size: 14px;
}

.auth-text span {
  color: #f3f3f3;
  cursor: pointer;
  font-weight: bold;
}

