@import "tailwindcss";
.input {
  @apply w-full bg-gray-300 rounded-lg px-4 py-3 outline-none focus:ring-2 focus:ring-blue-400 transition;
}
.button {
  @apply bg-blue-600 text-white px-6 py-3 rounded-lg hover:bg-blue-700 transition ;
}